<title>tiviti - activate account</title>
	
<div id="sign-in-up-box">
	
			 
</div>
	<center>
		<font size= "3" color="white">
			<br>
			Almost there! <br> <br> 
			Check your inbox for an email we sent to <%=@email%> with instructions to complete your registration.
			
		</font><br>
	
	<p><%= link_to 'back to sign in page', root_path%></p>
	</center>
        		
  

