<title>tiviti - activate account</title>
	
<div id="sign-in-up-box">
	
	<div class ="fieldset">			
		
			<font  color="white"><h1>Please check your email  <%=@email%> for activtion instructions</h1></font>
				
		
	</div>
			 
</div>
	<center>
		<font size= "3" color="white">Please check your email  <%=@email%> for activtion instructions</font><br>
	
	<p><%= link_to 'back to sign in page', root_path%></p>
	</center>
        		
  

