<h1><%= @title %></h1>

<!--%= error_messages_for :profile_image %-->

<% form_for(:profile_image,  :controller => "profile_images" , :action => "update", :method => "post", 
                      :html => { :multipart => true }) do |f| -%>
                
<!--% form_for(:profile_image, :url => profile_image_path, :action =>"update", :methos =>"put",
                      :html => { :multipart => true }) do |f| -%-->
  <p>
    <label for="profile_image">Upload A Profile Image ilan 1:</label>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
    <!--%= f.file_field :uploaded_data %-->
  </p>
  <p>
    <%= submit_tag 'Update Image' %>
  </p>
<% end %>



