
<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Tiviti Mail</title>
<style type="text/css">
body, td{font-family:arial,sans-serif;font-size:80%} a:link, a:active, a:visited{color:#0000CC} img{border:0px none; } pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; width: 800px; overflow: auto;}
</style>
</head>
<body>
<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<td align="center">
<font size=-1>
<table cellpadding="0" cellspacing="0" style="border:4px solid #666666; border-radius:4px;background-color:#CCCCCC;background-repeat:no-repeat; border-collapse:collapse" bordercolor="#111111">
<tr>
<td style="border-radius:4px;width:600px;margin:5px 0;padding:10px; ; font-family:arial,sans-serif; font-size:80%">
<table style="background-color:#000000;border-bottom:4px solid #666666; border-collapse:collapse" width="100%" bordercolor="#111111" cellpadding="0" cellspacing="0">
<tr>
<td align="left" style="font-family:arial,sans-serif; font-size:80%; padding-left:5px; padding-right:10px; padding-top:5px; padding-bottom:5px">
<img border="0" src="http://www.tiviti.net/email/logo3.jpg" width="100" height="40">

</td>
</tr>
</table>
