<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @user.name %> has <%=@action%> your invitation to participate in tivit '<%= @tivit.name %>'<br>
       <%= @comment %><br>
      Click here activity_url(@tivit.get_parent) for more detailes.<br/>
    </p>
    <p>Thanks for using tiviti and have a great day!</p>
  </body>
</html>