<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Tiviti Mail</title>
<style type="text/css"> 
body, td{font-family:arial,sans-serif;font-size:80%} a:link, a:active, a:visited{color:#0000CC} img{border:0px none; } pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; width: 800px; overflow: auto;}
</style>
</head>
<body>
<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr>
<td align="center">
<font size=-1>
<table cellpadding="0" cellspacing="0" style="border:4px solid #666666; border-radius:8px;background-color:#CCCCCC;background-repeat:no-repeat; border-collapse:collapse" bordercolor="#111111">
<tr>
<td style="border-radius:4px;width:600px;margin:5px 0;padding:20px; ; font-family:arial,sans-serif; font-size:80%">
<table style="background-color:#000000;border-bottom:4px solid #666666; border-collapse:collapse" width="100%" bordercolor="#111111" cellpadding="0" cellspacing="0">
<tr>
<td align="left" style="font-family:arial,sans-serif; font-size:80%; padding-left:20px; padding-right:5px; padding-top:10px; padding-bottom:10px">
<img border="0" src="http://www.tiviti.net/email/logo2.jpg" width="125" height="50">
 
</td>
</tr>
</table>
<div align="center">
  <center>
<table border="0" cellpadding="16" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td width="100%">
    <div align="center">
      <center>
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
        <tr style="font-family: arial,sans-serif; font-size: 150%">
          <td width="100%"><%= @resource.name %>, Welcome to <b>tiviti</b>.<br>
&nbsp;</td>
        </tr>
      </table>
      </center>
    </div>
<font size=-1>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
      <tr style="font-family: arial,sans-serif; font-size: 100%">
        <td width="100%">Getting things done has never been easier!<br>
        Before you dive in, please confirm your account:<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

        <p><img border="0" src="http://www.tiviti.net/email/confirm.png" width="173" height="34"></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</td>
      </tr>
    </table>
 
</font>
    </td>
  </tr>
</table>
  </center>
</div>
<table style="background-color:#ddedc9;border-top:2px solid #666666;margin:0;padding:0;width:100%" width="100%">
<tr>
<td style="font-family:arial,sans-serif; font-size:80%; padding-left:0; padding-right:0; padding-top:10px; padding-bottom:10px">
<div style="font-size:12px;margin:0px;font-family:Arial, Helvetica;color:#333333;padding:0;text-align:center;font-size:12px;color:#545454;font-weight:700">
Have any concerns?
<a href="http://www.tiviti.net/help.html" style="text-decoration:none;color:#0792bd" title="Contact tiviti" target="_blank">
contact us</a>.
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
 
</font>
</table>
</body>
</html>

