/* this is the entire page container that hols all the content. The '#' is in the front because in the HTML we use 'id' and not class <div id="page-container">. 
 * For classes, the CSS will be defined with '.' <div class="page-container">
 */
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; /*Arial, Helvetica, Verdana, Sans-serif;*/
	font-size: 12px;
	color: #666666;
	background: orange;/*#EEEEEE;/*#e3edef;*/
}
.hidden {
	display: none;
}
#page-container{
	background: white;
	position: relative;
	top: 32px;
	/* if no width is specified, the whole browser will be take over */
	width: 980px;
	min-height: 768px;
	margin: auto; /*this will center the div on the page*/
	
}
/* Main Navigation **************************************************/
#main-nav-background {
	background: #333333; /*#15628c;*/
	height: 50px;
	text-align: center;
	vertical-align:middle;
	color: white;
	margin: auto; /*this will center the div on the page*/
}
#main-nav {
	background: #333333; /*#15628c;*/
	height: 50px;
	text-align: center;
	vertical-align:middle;
	color: white;
	margin: auto; /*this will center the div on the page*/
	-moz-border-radius:    3px;
 	-webkit-border-radius: 3px;
  	border-radius:         3px;
  	margin: auto;
  	width: 980px;
}
#main-nav .nav-item li {
	color: white;
	margin-left:12px;
	float: left;
	vertical-align:middle;
	text-align: center;
	font-size:15px;
}
#main-nav .nav-item li a{
	color: white;
	font-size:15px;
	height:34px;
	float:left;
	padding: 16px 10px 0 10px;
	text-align: center;
	vertical-align:middle;
}
#main-nav .nav-item li a:hover{
	/*text-decoration: underline;*/	 
	text-decoration: none;
	background: #140F13; /*#2a4b6e;*/
}
#main-nav .nav-item li a:visited{
	font-weight: bold;
	/*background: #2a4b6e;*/
}
/* logo ************************************************************/
.logo {
	padding: 2px 80px 2px 3px;
	background: ;
	float: left;
}
/* Drop Down Menu **************************************************/
/* 1. Menu Button */
ul, li{margin:0; border:0; padding:0; list-style:none;}
#user-nav{
	color: white;
	font-size:15px;
	padding:;
	float: right;
}
#user-nav .menu li {
	background:url(lm.png) left top no-repeat;
	float:left;
	margin-right:10px;
}
#user-nav .menu li a{
	color: white;
	text-decoration:none;
	padding:0 10px;
	height:30px;
	line-height:30px;
	display:block;
	float:left;
	padding:8px 16px 0 10px;
	background:url(rm.png) right top no-repeat;
}
#user-nav .menu li a:hover{
	text-decoration: underline;
}
/* 2. Sub Menu items */
#user-nav ul .submenu {
	border:solid 1px #c9dea1;
	border-top:none;
	background:#FFFFFF;
	position:relative;
	top:4px;
	width:150px;
	padding:6px 0;
	clear:both;
	z-index:100;
	display:none;
	text-align: left;
}
#user-nav ul .submenu li{
	background:none;
	display:block;
	float:none;
	margin:0 6px;
	border:0;
	height:auto;
	line-height:normal;
	border-top:solid 1px #DEDEDE;
}
#user-nav .submenu li a{
	background:none;
	display:block;
	float:none;
	padding:6px 6px;
	margin:0;
	border:0;
	height:auto;
	color:#105cbe;
	line-height:normal;
}
#user-nav .submenu li a:hover{
	background:#e3edef;
}
/* New Activity Bar / Input*****************************************/
#new-activity {
	background: #DDDDDD; /*#365461;*/
	height: 40px;
	text-align: left;
	width: 700px;
	line-height:3em;
	/*vertical-align: middle;*/
	font-size:14px;
	color: white;
	margin: 0 auto; /*will center the div in the container */
	
	z-index: 20; /* very high number to insure last one to be drawn */
	position: relative;
	
	-moz-border-radius:    3px;
 	-webkit-border-radius: 3px;
  	border-radius:         3px; 
}
#new-activity-background {
	background: white; 
	width: 980px;
	height: 42px;
	margin: auto;
}
#new-activity-complete {
	display: none;
	 -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
}
#new-activity a {
	padding: 20px;
	color: white;
}
#new-activity .field {
	padding: 0 10px;
	width: 700px;
	margin: auto;
	background: #EEEEEE; /*#365461*/
	vertical-align: middle;
}
#new-activity .field-label {	
	font-size:14px;	
	width: 100px;
	text-align: right;
	color: #333333;
	background: #EEEEEE; /*#365461;*/
	float: left;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 10px;
}

#new-activity .input-name {
	width: 500px;
	padding: 6px 0px 0px 4px;
	/*vertical-align: middle;*/
	font-size: 14px;	
}
#new-activity .input-invitees {
	width: 500px;
	padding: 6px 0px 0px 4px;
	vertical-align: middle;
	font-size: 14px;
}
#new-activity .input-date {
	width: 100px;
	padding: 6px 0px 0px 4px;
	vertical-align: middle;
	font-size: 14px;
}
/* this textarea is used by text_area_tag function - big input field (act. discription) */
#new-activity .input-description {
	width:500px;
	height:100px;
	text-align: left;
	vertical-align: middle;
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: inherit;
	padding: 6px 0px 0px 4px;	
	max-width: 500px;
	max-height: 700px;
	font-size: 14px;
}
#new-activity .form-button {
	width:100px;
	margin: 0;
	vertical-align: top;
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: inherit;	
	position: relative; 
	left: 476px;
	bottom: 14px;
	
  display: block;
  text-align: center;
  width: 140px;
  color: #fff;
  background: #006400;
  font-size: 110%;
  font-weight: bold;
  padding: 4px;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
}
/* Home Page - On Deck Container **************************************************/
/*
#ondeck-container {
	background: red;
	width: 100%;
	position: relative;
	top: 42px;
	margin: auto; 
	-moz-border-radius:    3px;
 	-webkit-border-radius: 3px;
  	border-radius:         3px;
}
*/
h1 {
	font-size: 16px;
	padding-left: 20px;
} 


/* Round corners */
.round {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}

/*
.container {
  width: 920px;
}

body {
   background: #7E3517;
}

header {
  padding-top: 5px;
}

header img {
  padding: 1em;
  background: #fff;
}
*/
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}



/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* sign up page */

div.field, div.actions {
  margin-bottom: 10px;
}

/* Error Messages */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*-----------------------------------------------------*/
/* used for index.html.erb to display all users in DB */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}
/*-----------------------------------------------------*/

/* activities */



h1.activity {
  margin-bottom: 0.3em;
}

table.activities {
  margin-top: 1em;
}

table.activities tr {
  height: 70px;
}

table.activities tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.activities tr td.activity {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.activities tr td.activity span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
  
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.activities {
  font-size: 80%;
}

form.new_activity {
  margin-bottom: 2em;
}

form.new_activity textarea {
  height: 4em;
  margin-bottom: 0;
  
/* From Jon */
div.activity
{
  font-family: Arial;
  font-size: 12px;
  margin: 1px;
  width: 600px;
  padding: 0px;
  text-align: left;
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  border-collapse: collapse;
}
.activity td
{
  padding: 3px;
  background: #ffffff; 
}
.activity tr:hover td
{
  background: #F9F9F9;
}
div.nav
{
  font-family: Arial;
  font-size: 12px;
  font-color: #EEEEEE;
  margin: 0px;
  width: 100%;
  padding: 0px;
  text-align: center;
  background-color: #666666;
  border-collapse: collapse;
}
.nav td
{
  font-family: Arial;
  font-size: 12px;
  font-color: #FFFFFF;
  width: 12%;
  padding: 4px;
  text-align: center;
}
.nav a:link 
{
  color:#EEEEEE;text-decoration:none;
}
.nav a:visited 
{
  color:#EEEEEE;text-decoration:none;
}
.nav a:hover 
{
  text-decoration:none;
}