/* this is the entire page container that hols all the content. 
 * The '#' is in the front because in the HTML we use 'id' and not class <div id="page-container">.
 * For classes, the CSS will be defined with '.' <div class="page-container">
 */
html, body {
	margin: 0;
	padding: 0;
}
.bk1 {
	background: white;
}
.bk2 {
	background: #333333;	
}
body {
	font-family: Arial, 'Liberation Sans', FreeSans, sans-serif; /*Arial, Helvetica, Verdana, Sans-serif;*/
	font-size: 12px;
	color: #666666;
	background:#fff; /*orange;*//*#EEEEEE;/*#e3edef;*/
}
.hidden {
	display: none;
}
a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}
.flash 
{
	background-color: #F9EDBE;
    margin: -6px 0;
    position: absolute;
    top: 11px;
    right: 300px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    z-index: 20;
    /*background: none repeat scroll 0 0 #F9EDBE;*/
    color: #222222;
    font-family: arial,sans-serif;
    width: 400px;
    border-color: #F0C36D;
    white-space:nowrap;
    margin: -6px auto;
}
#page-container{
	/*background: white;*/
	position: relative;
	/*top: 32px;*/
	/* if no width is specified, the whole browser will be take over */
	width: 980px;
	min-height: 768px;
	margin: auto; /*this will center the div on the page*/
    padding-top:40px;
}
#howitworks {

	background: url('/images/howitworks.png') no-repeat scroll center center transparent; 
    display: inline-block;
    height: 760px;
    width: 968px;
    margin-top: -40px;
    overflow: hidden;
    z-index: 50;
    top: -20px;	
}
/*
.form-button {
	margin: 0;
	vertical-align: middle;
	position: relative;
	text-align: center;
	width: 200px;
	color: #fff;
	background: #61b010;
	border:1px solid #c0c0c0;
	font-size: 160%;
	font-weight: bold;
	padding: 12px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
	border-radius:         4px;
	margin-left: 10px;
	cursor:pointer;
	top: 680px;
	left: 380px;
}
#howitworks a {
	color: #fff;
}
*/
/* Main Navigation **************************************************/
#main-nav-background {
	background: #333333; /*#15628c;*/
	height: 50px;
	text-align: center;none repeat scroll 0 0 white
	vertical-align:middle;
	color: white;
	margin: auto; /*this will center the div on the page*/
}
#main-nav {
	background: #333333; /*#15628c;*/
	height: 50px;
	text-align: center;
	vertical-align:middle;
	color: white;
	margin: auto; /*this will center the div on the page*/
	-moz-border-radius:    3px;
 	-webkit-border-radius: 3px;
  	border-radius:         3px;
  	margin: auto;
  	width: 980px;
}
#main-nav .nav-item li {
	color: white;
	margin-left:2px;
	float: left;
	vertical-align:middle;
	text-align: center;
	font-size:15px;
}
#main-nav .nav-item li a{
	color: white;
	font-size:15px;
	height:34px;
	float:left;
	padding: 16px 10px 0 10px;
	text-align: center;
	vertical-align:middle;
}
#main-nav .nav-item li a:hover{
	/*text-decoration: underline;*/
	text-decoration: none;
	background: #140F13; /*#2a4b6e;*/
}
#main-nav .nav-item li a:visited{
	font-weight: bold;
	/*background: #2a4b6e;*/
}
/* logo ************************************************************/
.logo {
	padding: 2px 80px 2px 3px;
	background: ;
	float: left;
}
/* Drop Down Menu **************************************************/
/* 1. Menu Button */
ul, li{margin:0; border:0; padding:0; list-style:none;}
#user-nav{
	color: white;
	font-size:15px;
	float: right;
	position: relative;
}
#user-nav .menu li {
	float:left;
	margin-right:10px;
}
#user-nav .menu li a{
	color: white;
	text-decoration:none;
	padding:0 10px;
	height:30px;
	line-height:30px;
	display:block;
	float:left;
	padding:8px 16px 0 10px;
	background:url("../images/arr_w_down.gif") right 21px no-repeat;
}
#user-nav .menu li a:hover{
	text-decoration: underline;
}
/* 2. Sub Menu items */
#user-nav .submenu {
	background:#FFFFFF;
	width:150px;
	clear:both;
	z-index:101;
	display:none;
	text-align: left;
	border:1px solid #cfcfcf;
    padding:2px;
    position: absolute;
    top:40px;
}
#user-nav .submenu li{
	background:none;
	display:block;
	float:none;
	height:auto;
	line-height:normal;
	margin: 0;
    position:relative;
    z-index:101;
}
#user-nav .submenu li a{
	display:block;
	float:none;
	padding:6px 6px;
	margin:0;
	border:0;
	height:auto;
	line-height:normal;
	color:#000;
    font-size:13px;
    background:none;
    z-index:101;
}
#user-nav .submenu li a:hover{
	background:#eaeaea;
   	text-decoration:none;
}


#main-nav .nav-item li a.current{
    background:#000;
}
.tabInfo{
	display: none;
}
#new-activity-form,
#new-activity-form input,
#new-activity-form textarea{
    font-family:Arial,'Liberation Sans',FreeSans,sans-serif;
}
/* Input field error validation */ 
#new-activity-form .error { font-size: 13px; text-align: left; width: 300px; float: none; color: red; padding-left: 10px; vertical-align: top; }

#new-activity-background{
	width: 780px;
	margin: 0;
	position: absolute;
	top:0;
	left:0;
}
.popup{position:absolute;top:70px;left:239px;z-index:100;width:480px;padding:10px;color:#000;display:none;
	background:#fff;border-radius:6px;border:1px solid #eaeaea;}
	
#loading-animation {
	position:absolute;
    display:none;
    z-index:110;
    top:170px;
    left:479px;   
    background:url("../images/ajax-loader.gif");
	width: 32px;
    height: 32px; 
}
.loading-popup {
	position:absolute;
    display:none;
    z-index:120;
    top:50%;
    left:50%;   
    background:url("../images/ajax-loader.gif");
	width: 32px;
    height: 32px; 
}
.loading {
	position:absolute;
    display:none;
    z-index:110;
    top:44px;
    left:100px;   
    background:url("../images/loading.gif");
	width: 22px;
    height: 22px; 
}
#activity-overlay{
    position:fixed;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
    display:none;
    z-index:50;
    top:0;
    left:0;
}
#new-activity-background{
    z-index:100;
}
.tempHide{
	    z-index:40 !important;
}
.clear{
    clear:both;
    font-size:0;
    line-height:0;
}


/* New Activity Bar / Input*****************************************/
#newactivityFTE {
    /*background: url('/images/tivity.jpg') no-repeat scroll center center transparent;*/
    background: url('/images/newactivityFTE.jpg') no-repeat scroll center center transparent; 
    display: inline-block;
    height: 78px;
    width: 285px;
    top: 8px;
    left: 494px;
    right: 10px;
    bottom: 10px;
    /*overflow: hidden;*/
    z-index: 20;
    position: absolute;
}
#dashboardFTE {
    /*background: url('/images/tivity.jpg') no-repeat scroll center center transparent;*/
    background: url('/images/dashboardFTE.png') no-repeat scroll center center transparent; 
    display: inline-block;
    height: 362px;
    width: 471px;
    top: 2px;
    left: 168px;
    right: 2px;
    bottom: 2px;
    /*overflow: hidden;*/
    z-index: 100;
    position: absolute;
}
#new-activity {
	background: #DDDDDD; /*#365461;*/
	height: 40px;
	text-align: left;
    width:780px;
	font-size:14px;
	z-index: 20; /* very high number to insure last one to be drawn */
	position: relative;
	-moz-border-radius:    3px;
 	-webkit-border-radius: 3px;
  	border-radius:         3px;
}
#new-activity-background {
	width: 980px;
	height: 42px;
	margin: auto;
}
#new-activity-complete {
	display: none;

    -moz-border-radius:    6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
}
#new-activity .field{
    margin: auto;
    background: #DBECBF; /*#DDDDDD; /*#E4E4E4; /*#EEEEEE; /*#365461*/
    vertical-align: middle;
    width:760px;
    padding:8px 10px;
}
#new-activity a {
	padding: 20px;
	color: white;
}

#new-activity .field-label {
	font-size:13px;
	width: 150px;
	text-align: right;
	color: #333333;
	background: #DBECBF; /*#DDDDDD; /*#E4E4E4 /*#EEEEEE*/; 
	float: left;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 10px;
}

#new-activity .input-invitees {
	width: 500px;
	padding: 6px 0px 0px 4px;
	vertical-align: middle;
	font-size: 14px;
}
#new-activity .field-label{
	font-weight:normal;
    padding-top:3px;
}
#new-activity .input-name{
    width:385px;
    border:none;
    padding: 4px 0 4px 4px;
    font-size:13px;
    color: #6D6D6D;
}
#new-activity .input-date{
    padding: 4px 0 4px 4px;
    vertical-align: middle;
    font-size: 13px;
    border:none;
	width: 200px;
	color: #6D6D6D;
}
#new-activity-complete .buttons{
	text-align: right;
	padding-right: 210px;
}
#new-activity-complete .form-cancel-button{
	padding:4px 7px;
	color:#aaa;
	background: #fff;
	border:1px solid #aaa;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
	border-radius:         4px;
	vertical-align: middle;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	cursor: default;
}
#new-activity .ico_calc,
.ico_calc /* add from Sorokina */
{
    cursor:pointer;
    position:relative;
    top:4px;
    left:-25px;
}
#new-activity .add-file{
    font-size:13px;
    padding-top:6px;
    color:#6D6D6D;
}

/* this textarea is used by text_area_tag function - big input field (act. discription) */
#new-activity .input-description {
	width:385px;
	height:100px;
	text-align: left;
	vertical-align: middle;
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: inherit;
	padding: 6px 0px 0px 4px;
	font-size: 13px;
    border:none;
	resize:vertical;
	color:#6D6D6D;
}


#new-activity .form-button ,
.activities .form-button, /* Add from Sorokina */
.post-button /* Add from Sorokina */{
	margin: 0;
	vertical-align: middle;
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	position: relative;
	text-align: center;
	width: 140px;
	color: #fff;
	background: #61b010;
	border:1px solid #c0c0c0;
	font-size: 110%;
	font-weight: bold;
	padding: 4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
	border-radius:         4px;
	margin-left: 10px;
	cursor:pointer;
}


/* Home Page - tivit list Container **************************************************/
#homepage-tivit-list-container {
	background: white;
	position: relative;
	/* if no width is specified, the whole browser will be take over */
	min-height: 768px;
}

/*tabs styles*/
.tab-content{
    padding:15px 45px 35px 0 !important;
    border-right:1px solid #ededed;
    position:relative;
    float:left;
    }
    .tab-content .showMore{
        position:absolute;
        bottom:0;
        left:350px;
    }

.filter{
    float:right;
    width:140px;
    margin-right:10px;
    padding:10px 15px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    }
    .filter dl{
        margin:0;
    }
    .filter dt{
        margin-bottom:5px;
    }
    .filter dd{
        margin:0 0 5px 0;
    }


.tabs{
    overflow:hidden;
    clear:both;
    padding:10px 0;
    }
    .tabs .status{
        float:right;
        color:#888888;
        padding-top:5px;
        position:relative;
        }


    .tabs .tab{
        display:inline-block;
        margin-right:5px;
        height:17px;
        padding:2px 15px;
        color:#929292;
        background:#eaeaea;
        border:2px solid #e4e4e4;
        border-radius:5px;
        font-size:12px;
        line-height:17px;
        cursor:pointer;
        position:relative;
    }
    .tabs .tab a{
        color:#000;
        font-weight:bold;
    }
    .tabs .active{
        background:#fff;
        color:#000;
        cursor:default;
        }
        .tabs .active a{
            font-weight:normal;
        }
        .tabs .tab i{
            position:absolute;
            right:-6px;
            top:-8px;
            background:red;
            padding:0 4px;
            border:1px solid #c0c0c0;
            border-radius:9px;
            color:#fff;
            font-size:8px;
            text-align:center;
            font-weight:bold;
            font-style:normal;
            line-height:12px;
        }
     

#tivit-container {
	padding-bottom: 16px;
	width: 734px;
}

.tvit-day{
    padding:20px 0 0 60px;
    position:relative;
    }
    .tvit-day .calendar{
        width:41px;
        height:37px;
        background:url("../images/day_bg.jpg") 0 0 no-repeat;
        position:absolute;
        top:25px;
        left:1px;
        overflow:hidden;
    }
    .tvit-day .today {
        font-size:10px;
        font-weight:bold;
        width:31px;
        padding:12px 12px 0px 7px;
        color:#FEFE98;        
    }
    .tvit-day .tomorrow {
        font-size:10px;
        font-weight:bold;
        width:31px;
        padding: 12px 0px 0px 10px;
        color:#FEFFFE;        
    }
    .tvit-day .calendar .earlyDay{
        background:url("../images/day_bg.jpg") 0 0 no-repeat;
    }
    .tvit-day .date .week,.tivits .calendar .week{
        color:#969696;
        font-size:10px;
        font-weight:normal;
        text-align:center;
        padding-left:0px;
        line-height:14px;
        margin: 2px 0 -2px 0px;
    }
    /*
    .tvit-day .date .text,.tivits .calendar .text{
        color:#969696;
        font-size:18px;
        text-align:center;
        font-weight:bold;
        padding-left:4px;
        line-height:21px;
    }
    */
    .tvit-day .nearlyDay .text /*,.tivits .calendar .text*/{
        color:#969696;
        font-size:18px;
        text-align:center;
        font-weight:bold;
        padding-left:0px 0px 0px 0px;
        line-height:21px;
    }
    .tvit-day .earlyDay .week {
        color:red;
        font-size:18px;
        text-align:center;
        font-weight:bold;
        padding: 2px 4px 0px 4px;
        line-height:21px;
    }  
     .tvit-day .earlyDay .text {
        color: #969696;
        font-size:8px;
        text-align:center;
        font-weight:normal;
        padding: 1px 0px 0px 2px;
        line-height: 8px;
    } 
     
    .tvit-day .nearlyDay{
        background:url("../images/day_bg.jpg") -54px 0 no-repeat;
    }
    .tvit-day .beyondaweek{
        background:url("../images/day_bg.jpg") -54px 0 no-repeat;
    }
    .tvit-day .pastDay{
        background:url("../images/day_bg.jpg") -107px 0 no-repeat;
    }
    .tvit-day .beyondaweek .text{
        color:#969696;
        font-weight:normal;
       	padding:13px 0px 0px 5px;
       	font-size: 12px;
        
    }
    .tvit-day .pastDay .text{
        color:#808080;
    }
	.tvit-day .pastDay .week{
        color:#808080;
    }

.tvit-list{
    margin-top:5px;
}
.tvit-list .label{
    padding: 2px 0 2px 5px;
    border-bottom:1px dotted #e0e0e0;
    margin-bottom:1px;
    background: #EAEAEA;
    border-radius:5px 5px 0 0;
    }
    .tvit-list .label .progress{
        float:right;
        margin-top: 0px;
        margin-right: 8px;
    }
    /***********************************/
    /* Yaniv */
    .tvit-list .label .activity-name{
        color: #8A8AD8;
        font-size: 12px;
        margin-left: 3px;
    }
	/***********************************/    

.tvit-list .record{
    padding:5px;
    background: #f8f8f8;
    border-radius:4px;
}
.tvit-list .record h3 a{
    color: black;
}
.tvit-list .record h3 a:hover{
    color: black;
    text-decoration:none;
}
.tvit-list .record-hovered{
	background: #ccecff;
}
.tvit-list .record .status{
    width:27px;
    float:left;
    height:44px;
    position:relative;
    }
    /* Used in respond button */
    .record .respond .status .icon{
    		width:16px;
            height:16px;
            position:absolute;
            left:26px;
            bottom:-51px;
			cursor:pointer;
			z-index: 9;   	
    }
    .record .status .icon{
            width:16px;
            height:16px;
            position:absolute;
            left:2px;
            bottom:12px;
			cursor:pointer;
        }
        .complete .respond .icon,
        .complete .status .icon{
            background:url("../images/status_complete.png") 0 0 no-repeat;
            width:19px;
            height:20px;
        }
        .inprog .status .icon{
            background:url("../images/status_inprog.png") 0 0 no-repeat;
        }
        /*************/
        /* Yaniv */
        
      	/*************/
        /* Add from Sorokina
		.attention .avatar,
        .attention .text{
        	opacity: 0.5;
        } */
        .attention .status .icon{
            background:url("../images/status_attention.png") 0 0 no-repeat;
        }
        .busy .status .icon{
            background:url("../images/status_busy.png") 0 0 no-repeat;
        }
        .unread .status .icon{
            background:url("../images/status_unread.png") 0 0 no-repeat;
        }
         .re-assign .status .icon{
            background:url("../images/status_re-assign.png") 0 0 no-repeat;
        }
/*************/
/* Yaniv - must add this so avatar unread will work properly */
.record .unread .avatar {opacity: 0.6;}
/*************/    	
.tvit-list .record .avatar{
    float:left;
    height: 44px;
    width: 44px;
    position:relative;
    border-radius: 4px;
}
	.tvit-list .record .avatar img{border-radius: 4px;}
.tvit-list .avatar .rc{
    position:absolute;
    height:44px;
    width:44px;
    background:url("../images/rounded_bg.png") 0 0 no-repeat;
}
.tvit-list .record .text{
    overflow:hidden;
    padding: 0 0 0 15px;
    min-height:44px;
    position:relative;
    }
    .tvit-list .record .text .wrapp{
    	position: absolute;
    	top:20%;
    }
    .tvit-list .record .text .wrapp .twr{
    	position: relative;
    	top:-50%;
    }
		.twr h3{margin-top:0 !important;}
    .tvit-list .record .text h3{
    	font-size: 14px;
    	margin: 0;
    	padding: 0;
    	font-weight: normal;
    }
    .tvit-list .record .text .grey{
        color:#888;
        font-size:11px;
        margin:0;
    }
    /* used for accept link on _tivit_db style */
     .tvit-list .record .text .accept-proposed {
        color:#8A8AD8;
        font-size:11px;
        margin:0;
    }
    /* used for accept link on _tivit_db style */
     .tvit-list .record .text .send-reminder {
        color:#8A8AD8;
        font-size:11px;
        margin:0;
    }
  
    .tvit-list .record .text .proposed {
        color:red;
        font-size:11px;
        margin:0;
    }
    .proposed a{color:#2525f8;display:inline-block;padding:0 6px;}
    
    
.tvit-list .record .activity{
    float:right;
    width:90px;
    padding:10px 10px 0 0;
    text-align:right;
}
.tvit-list .record .comments{
    width:23px;
    height:21px;
    position:relative;
    display:inline-block;
    background:url("../images/ico_comment.png") 0 0 no-repeat;
}
.tvit-list .record .attach{
    width:21px;
    height:21px;
    position:relative;
    display:inline-block;
    background:url("../images/ico_attach.png") 0 0 no-repeat;
    margin-right:15px;
}
.tvit-list .record .comments i,
.tvit-list .record .attach i{
    position:absolute;
    background:red;
    padding:0 4px;
    border:1px solid #c0c0c0;
    border-radius:9px;
    color:#fff;
    font-size:8px;
    text-align:center;
    font-weight:bold;
    font-style:normal;
    line-height:12px;
}
.tvit-list .record .comments i{
    right:-7px;
    top:-5px;
}
.tvit-list .record .attach i{
    right:-10px;
    top:-5px;
}

.status-list-dialog{
    background: #fff;
    border: 1px solid #CFCFCF;
    padding: 4px;
    position: absolute;
    text-align: left;
    width: 134px;
    z-index: 10;
    left:-5px;
    top:40px;
    display: none;
}
.status-list-dialog .status-list li{
    list-style-type:none;
}
.record .status-list-dialog .status-list .complete .ico{
    background:url("../images/status_complete_small.png") 0 0 no-repeat;
    width:19px;
    height:20px;
}
.record .status-list-dialog .status-list .inprog .ico{
    background:url("../images/status_inprog.png") 0 0 no-repeat;
}
.record .status-list-dialog .status-list .attention .ico{
    background:url("../images/status_attention.png") 0 0 no-repeat;
}
.record .status-list-dialog .status-list .busy .ico{
    background:url("../images/status_busy.png") 0 0 no-repeat;
}
.record .status-list-dialog .status-list .unread .ico{
    background:url("../images/status_unread.png") 0 0 no-repeat;
}
.record .status-list-dialog .status-list .re-assign .ico{
    background:url("../images/status_re-assign.png") 0 0 no-repeat;
}

.record .status-list-dialog .status-list li{
    height:16px;
    padding:2px 1px 2px 22px;
    font-size:12px;
    position:relative;
    margin-bottom:1px;
    cursor:pointer;
}
.record .status-list-dialog .status-list .ico{
    position:absolute;
    top:2px;
    left:2px;
    height:16px;
    width:16px;
}
.record .status-list-dialog .status-list li:hover{
    background:#eaeaea;
}

.confirmDialog{
	background: #fff;
	width:300px;
	padding: 20px 20px 10px;
	border-radius:10px;
	position: absolute;
	top:-42px;
	left:160px;
	border:1px solid #000;
	z-index: 100;
}
.confirmDialog h2{
	font-size: 24px;
	padding-bottom:15px;
	margin: 0;
}
.confirmDialog .txt{
	padding-bottom: 20px;
	font-size: 14px;
}

.confirmDialog .buttons{
    text-align:right;
}
.confirmDialog .cancel-button{
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    padding: 4px 7px;
    vertical-align: middle;
}
.confirmDialog .submit-button{
    background:#61B010;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 4px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* Round corners */
.round {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}



footer {
  text-align: center;
  margin: 25px 0;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  font-size:13px;
  color:#aaa;
}
footer a{
	color:#aaa;
}

footer nav {
  float: none;
  padding-bottom: 5px;
}
footer li{
	display: inline-block;
	padding-right: 10px;
}



/*******************************************************************************
  Styles for Activities Page from Irina Sorokina
*******************************************************************************/

#adpfte {
    /*background: url('/images/tivity.jpg') no-repeat scroll center center transparent;*/
    background: url('/images/adp-FTE.png') no-repeat scroll center center transparent; 
    display: inline-block;
    height: 173px;
    width: 557px;
    margin: -23px 8px 22px 150px;
    overflow: hidden;
    z-index: 50;
}


a img{border:none;}
.team .wrapper h2{font-size:24px;font-weight:bold;border:none;margin:0;}
.activities{font-size:13px;}
.activities p, .activities h1, .activities h2{margin:0;padding:0;}
.activities h1{font-size:24px;font-weight:bold;color:#000;margin:9px 0 2px;}
.activities h2{font-size:18px;color:#333;font-weight:normal;border-bottom:1px dotted #eaeaea;}
.activities h2 span{color:#969696;}

/* This line controls the tivit titles style on both dashboard AND ADP */
.activities h3,.tvit-list .record .text h3{margin:6px 0 0;font-size:15px;color:#000;font-weight:normal;}

.activities small{color:#8d8d8d;font-size:12px;}
.activities a{color:#7b7bd2;}
.activities #new-activity{display:none;background:none;width:764px;}
.activities #new-activity .field {width:auto;}
.activities #new-activity-complete {border-radius:0;}
.visible{display:block !important;}
.invisible{display:none !important;}

/* main top info conteiner */
.act-main{padding:4px 0 0;position:relative;width:960px;}
.act-main .avatar{float:left;position:relative;z-index:10;margin:-4px 13px 0 0;width:94px;height:94px;border-radius:10px;}
.act-main .info{height:77px;background:#ddd;border-top:1px solid #f6f6f6;border-bottom:1px solid #e4e4e4;}
.act-main .calendar{width:92px;height:84px;overflow:hidden;position:absolute;top:2px;right:-6px;padding-left:10px;
		text-align:center;font-weight:bold;/*text-transform:uppercase;*/}
	.act-main .calendar.new{background: url("../images/cal-1b.png") no-repeat;}
	.act-main .calendar.today{background: url("../images/cal-1b.png") no-repeat;}
	.act-main .calendar.tomorrow{background: url("../images/cal-1b.png") no-repeat;}
	
	.act-main .calendar.past{background: url("../images/cal-2b.png") no-repeat;}
	.act-main .calendar.beyondaweek{background: url("../images/cal-2b.png") no-repeat;}
	.act-main .calendar{background: url("../images/cal-3b.png") no-repeat;}
.act-main .calendar .week{color:#FFF;font-size:22px;line-height:1.5;}
.act-main .calendar .text{color:#000;font-size:40px;line-height:1;}

/* Activity Calendar, Today & Tomorrow */
.act-main .calendar.today .text {
	font-size: 22px;
	padding: 30px 10px 0px 0px;	
	color: #FEFE98;
}
.act-main .calendar.tomorrow .text {
	font-size: 22px;
	padding: 30px 10px 0px 0px;	
	color: #FEFFFE;
}

.act-main .calendar.new .text {
	font-size: 22px;
	padding: 30px 10px 0px 0px;	
	color: #FEFE98;
}
/* Activity Calendar - overdue - date passed */
.act-main .calendar.new .week {
	font-size: 48px;
	padding: 2px 10px 0px 0px;
	color: red;
	line-height:1.2;
}
.act-main .calendar.new .text {
	font-size: 16px;
	padding: 0px 10px 0px 0px;	
	color: #969696;
	font-weight: normal;
}

/* Activity Calendar - upcoming in a week */ 
.act-main .past .week{
	padding: 2px 20px 0px 10px;
	color: #969696;
	font-weight: normal;
}
.act-main .past .text{
	color:#969696;
	font-size:48px;
	line-height:1;
	padding: 0px 14px 0px 6px;
}

/* Activity Calendar - longer than a week from now */ 
.act-main .beyondaweek .text{
        color:#969696;
        font-weight:normal;
      	padding: 28px 13px 0px 6px;
       	font-size: 28px;
}
.progress-complete{position:absolute;top:20px;right:120px;text-align:right;font-size:16px;color:#4c4c4c;}
.progress-complete span{font-weight:bold;font-size:19px;color:#6666cc;}
.info ul{position:absolute;top:62px;right:120px;}
.info ul li{display:inline;padding:4px 8px;border:1px solid #c0c0c0;border-left:none;border-bottom:1px solid #c9c9c9;cursor:pointer;
	background:#dadada url(../images/bg_info.png) bottom repeat-x;}
.info ul li:hover{color:#000;}
.info ul li:first-child{border-left:1px solid #c0c0c0;}

/* Yaniv - These are for hover on activity buttons */
.info a {color: #666666;}
.info a:hover {color: #000; text-decoration:none;}
/***************************************************/

.description{width:680px;padding:18px 25px 15px 45px;background:#f8f8f8;color:#505050;
	border-left:1px solid #fdfdfd;border-right:1px solid #fdfdfd;border-radius:0 0 7px 7px;}
.description small{padding-left:10px;}

.body{}
.rightCol{float:right;width:166px;margin:-25px 7px 0;padding:0 21px;border-left:1px dotted #eaeaea;}
.leftCol{float:left;width:750px;}

/* File col*/
.files h2{margin-top:-12px;}
.file{position:relative;margin:12px 0 0;padding:2px;text-align:center;color:#8d8d8d;}
.file.new{border:1px solid #ffd940;}
.file i{font-size: 9px;font-style: normal;font-weight: bold;padding: 0 4px;position: absolute;right: 30%;top: 4px;
	background: red;border: 1px solid #C0C0C0;border-radius: 9px;color: #FFFFFF;}
.file span{font-size:13px;}

/* Blocks: My tivits, Team tivits */
.tivits{position:relative;margin:0;padding:1px 8px 0px 4px;background:#f8f8f8;border-radius:7px;}
	.tivits.active,.record.active,.team .tvit-list .record.active{background:#ffffcc;}
	.tivits li ul.list li.active{background:none !important;}
	.tivits li ul.list .active .record-conteiner{background:#ffffcc;}
		.record-conteiner{width:461px;padding:5px;}
	.tivits.main-tivit{margin:50px 0;}
.tivits .form-button{width:auto;padding:8px 10px 8px 40px;text-align:right;font-size:15px;position:absolute;top:-20px;right:0;
	background:#61B010 url(../images/icon_add_tivit.png) 6px center no-repeat}
.tivits .tvit-list .record .status{width:33px;}
.tivits .calendar{display:inline-block;width:46px;height:38px;overflow:hidden;
	background:url(../images/cal-3a.png) no-repeat;}
	.tivits .calendar.past{background:url(../images/cal-2a.png) no-repeat;}
	.tivits .calendar.new{background:url(../images/cal-1a.png) no-repeat;}
	.tivits .calendar.beyondaweek{background:url(../images/cal-2a.png) no-repeat;}
	.tivits .calendar.today{background:url(../images/cal-1a.png) no-repeat;}
	.tivits .calendar.tomorrow{background:url(../images/cal-1a.png) no-repeat;}
	
.tivits .calendar .week{padding-left:7px;height:14px;}
.tivits .calendar .text{font-size:18px;padding-left:7px;}

.tivits .new .text{
	color: #FEFE98;
	font-size:11px;
	padding: 12px 8px 2px 8px;
}
/* overdue tivits calendar on adp */
.tivits .new .week{
	color: red;
	font-size:18px;
	padding: 4px 2px 2px 0px;
	line-height: 18px;
	font-weight: bold;
	margin: 0;	
}
.tivits .new .text{
	color: #969696;
	font-size: 8px;
	padding: 3px 8px 2px 0px
}
.tivits .today .text{
	color: #FEFE98;
	font-size:11px;
	padding: 12px 8px 2px 8px;
}
.tivits .tomorrow .text{
	color: #FEFFFE;
	font-size:11px;
	padding: 12px 8px 2px 8px;
}

/* tivits due within a week */
.tivits .past .text{
	color: #969696;
	font-size:18px;padding-left:7px;
	font-weight: bold;
	padding: 0px 13px 2px 0px;
}
.tivits .past .week{
	color: #969696;
	font-size:10px;
	padding: 0px 12px 2px;
	font-weight: normal;
}
/* tivits due within future passed a week */
.tivits .beyondaweek .text{
	color: #969696;
	font-size:13px;padding-left:7px;
	font-weight: normal;
	padding: 12px 6px 0 0;
}
.tivits .record{padding-right:0;}
.tivits .record .text-conteiner{width:465px;cursor:hover;}
.tivits .record .activity{position:relative;width:116px;padding:0;margin:2px 0 0;}
.tivits .record .unreaded{position:absolute;top:9px;left:-105px;}
.tivits .record .attach{position:absolute;top:9px;left:-40px;}
.tivits .record .comments{position:absolute;top:9px;left:0;}
.tivits .record .calendar{position:absolute;top:0;left:45px;}
/* Yaniv - changed position to relative and fixed top/right values to place the dropdown in the right place */
.tivits .record .edit-menu{position:absolute;top:22px;right:8px;z-index:40;cursor:pointer;}
/*.tivits .record .edit-menu{width:16px;height:17px;position:relative;top:-32px;right:-708px;z-index:40;cursor:pointer; display: inline-block;}*/
/*.tivits .record .edit-menu{position:relative;top:-32px;right:-708px;z-index:40;cursor:pointer;}*/
/********/
	.edit-menu .icon{z-index: 5; width:16px;height:17px;background:url(../images/icon_edit_menu.png) no-repeat;/*display:none;*/}
	
.tivits li ul.list{margin:10px 0 0 85px;display:none;}
.tivits li ul.list{margin:10px 0 0 85px;display:none;}
.tivits li ul.list li{position:relative;padding:0;}
.tivits li ul.list li:first-child.active{margin-top:15px;}
.tivits li ul.list .avatar,.tivits li ul.list .avatar img{width:26px;height:26px;}
/* Yaniv - Bigger comment area */
/*.tivits li ul.list .text{width:500px;padding:0 0 0 10px;color:#242424;line-height:1.2;}*/
.tivits li ul.list .text{width:425px;padding:0 0 0 10px;color:#242424;line-height:1.2;}

.tivits li ul.list .text p{padding:1px 0 2px;}
.tivits li ul.list .text .start, .fupload{padding:0 0 2px;border-bottom: 1px dotted #EAEAEA;color: #8D8D8D;}
.start.attention{padding-left:26px !important;background:url(../images/status_attention.png) no-repeat;}
.start.complete{padding-left:26px !important;background:url(../images/status_complete_small.png) no-repeat;}
.start.accepted{padding-left:26px !important;background:url(../images/status_accepted_small.png) no-repeat;}
.start.reassigned{padding-left:26px !important;background:url(../images/status_re-assign.png) no-repeat;}

.request{font-size:11px;}
.request span{color:red;}
.request a{color:#2525f8;display:inline-block;padding:0 6px;}

.request .form-button{position:relative;top:0;display:inline-block;background: #fff;padding:3px 15px;margin:20px 0 5px 5px;color:#929292;
		border: 1px solid #C0C0C0;border-radius:4px;}
		
.request .form-button:first-child{background-image:none;background-color:#61B010;color:#fff;margin:20px 0 5px 200px;}

.fupload{padding:3px 0 3px 50px !important;height:38px;}
.fupload.pptx{background:url(../images/file_pptx.gif) no-repeat;}
.fupload span{color:#2525f8;font-weight:bold;}
.tivits small{font-size:11px;}

.respond{position:absolute;top:0;right:0;z-index:1;width:163px;display:none;}

.respond .form-button{position:relative;top:73px;left:20px;font-size:13px;margin:0;padding:5px 0 5px 15px;text-align:left;width:90px;
	background:#61B010 /*url(../images/status_unread.png) 4px center no-repeat*/;}



.respond .form-button.inprog{background:#61B010 url(../images/status_inprog.png) 4px center no-repeat;}
.respond .form-button.complete{background:#61B010 url(../images/status_complete.png) 4px center no-repeat;}
.respond .form-button.attention{background:#61B010 url(../images/status_attention.png) 4px center no-repeat;}

.respond .status-list-dialog{top:27px;left:32px;width:131px;}
.team h2{margin-top:-30px;}
.team, .team .tvit-list .record,.team  ul ul .record{background:#f8f8f8;}

.menu-dialog{position:absolute;color:#3a3a3a;background:#f8f8f8;padding:2px;border:1px solid #cfcfcf;display:none;}
	.edit-menu .menu-dialog ul li{padding:2px 22px 2px 28px;}
.menu-dialog ul li:hover{background-color:#eaeaea;}
	.edit{background:url(../images/icon_edit.png) 2px center no-repeat;}
	.del{background:url(../images/icon_delete.png) left center no-repeat;}
.tivits li ul.list .text input,
.post textarea{width:415px;margin:10px 0 0;padding:0 4px;height:20px;color:#929292;
	background:#fff;border:1px solid #e6e6e6;
	font:italic 13px Arial,'Liberation Sans',FreeSans,sans-serif;}
	.tivits .post{position:relative;padding-left:36px;}
	.tivits li ul.list .post{width:425px;}
	.post textarea{padding-top:2px; resize:none; autocomplete="off" ; overflow: hidden; line-height: 18px;}
	.post-style textarea{color:#242424;font-style:normal;}
	
	
.post .post-button{display:block;width:auto;height:22px;margin:10px 0 0;padding:2px 14px 14px 12px;;background:#61B010;color:#fff;
	font:normal bold 13px/13px Arial, 'Liberation Sans', FreeSans,sans-serif;border: 1px solid #C0C0C0;}
.new-record{border:1px solid #ffcc00;}
.attach-file{display:block;width:70px;padding:0 0 0 27px;line-height:1.6;
	background:url(../images/ico_attach.png) no-repeat;}
	.post .attach-file{position:absolute;bottom:0;left:365px;}
	.post .attach-file.long{left:500px;}
.show-more{padding:5px 0 0 125px;margin:0 0 -7px;font-size:12px;display:none;}
.more.less{display:block;margin:10px 0 0;}
small.less{display:block;padding:0;}
.delete{width:18px;height:18px;display:none;position:absolute;top:8px;right:130px;z-index:10;background:url(../images/icon_delete.gif) no-repeat;}
	.tivits ul.list ul.list li:hover .delete{display:block;}

/* Styles for popup windows */
.popup{position:absolute;top:70px;left:239px;z-index:100;width:480px;padding:10px;color:#000;display:none;
	background:#fff;border-radius:6px;border:1px solid #eaeaea;}
.popup h3{padding:5px 0 5px 38px;margin:0;background:url(../images/icon_add_tivit.gif) no-repeat;}
.popup h1{font-size: 16px; padding:5px 0 5px 18px;margin:0;}
.popup label{font-size:14px;vertical-align:top;display:inline-block;width:50px;padding-right:5px;text-align:right;line-height:2.1;}

/* Used for form input validations - form error messages */
.popup label.error { font-size: 13px; text-align: left; width: 300px; float: none; color: red; padding-left: 60px; vertical-align: top; }

.popup input,.popup textarea{width:400px;height:27px;border:1px solid #d0d0d0;font:normal 13px Arial,'Liberation Sans',FreeSans,sans-serif;padding-left:4px;}
.popup textarea{height:70px;resize:none; padding: 4px;width: 394px;}


.popup form p{margin:12px 0;}

.popup .input-date label{width:271px;}
.popup .input-date input{width:175px;height:20px;}
.popup .input-date .ico_calc{float:right;left: -22px; top:-25px;}
.popup .assign{padding-left:56px;cursor:pointer;}
.popup .assign i{display:inline-block;width:14px;height:14px;border:1px solid #d0d0d0;
		position:relative;top:3px;background:none;}
.popup .assign.active i{background:url('../images/icon_assign.gif') no-repeat;}
.popup .request .form-button:first-child{background-color:#fff;color:#929292;margin-left:298px;padding:2px 15px;font-size:15px;font-weight: bold;}
.popup .request .form-button{margin-top:0;background-color:#61B010;color:#fff;cursor:pointer;width:auto;padding:2px 16px;font-size:15px;font-weight: bold;}

.popup .close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;cursor:pointer;background:url(../images/icon_close.png) no-repeat;}


/* Yaniv - Confirm dialog specifics, to separate from add tivit popup where it doesn't fit nicely */
.popup .confirmPopup textarea{width:430px;height:60px;padding: 4px;margin: 5px 0 5px 20px;}
.popup .confirmPopup .input-date .ico_calc{float:right;left: -26px; top:4px;}
.popup .confirmPopup .request .form-button{margin-top: 14px; margin-left: 5px; margin-right: 11px;background-color:#61B010;color:#fff;cursor:pointer;width:auto;padding:2px 16px;font-size:15px;font-weight: bold;}
.popup .confirmPopup .request .form-button:first-child{background-color:#fff;color:#929292;margin-left:298px;margin-right:10px; padding:2px 15px;font-size:15px;font-weight: bold;}
.popup .confirmPopup {top: 0px;}
.popup .confirmPopup p {padding: 0 0px;}

.popup .edittivitPopup .input-date .ico_calc{float:right;left: -26px; top:4px;}

/******************************************************************************************************
/* SIGN IN/UP PAGEs */

#sign-in-up-box {
	margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 452px;
}
#sign-in-up-box h1 {
    /*background: url('/images/tivity.jpg') no-repeat scroll center center transparent;*/
    background: url('/images/signup-logo.jpg') no-repeat scroll center center transparent; 
    display: inline-block;
    height: 46px;
    margin: 20px 0 0px;
    overflow: hidden;
    text-indent: -1000em;
    width: 125px;
}
#sign-in-up-form {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 auto 15px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 306px;
    
}
#sign-in-up-form .legend	{ display: none; }
#sign-in-up-form .fieldset	{ border: 0; }


#sign-in-up-form .label {
	color: #525252;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 6px;
}
#sign-in-up-form .input {
    width: 300px;
	height: 38px;
	margin-bottom: 14px;
	margin-top: 5px;
	padding: 10px 6px;
	font-size: 14px;
	font-family: Arial,'Liberation Sans',FreeSans,sans-serif;

}
#sign-in-up-form .input[type="text"], .input[type="password"], .input[type="email"] {
    font-family: Arial,'Liberation Sans',FreeSans,sans-serif;
    border: 1px solid #DCDCDC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px;
	margin: 0 0 5px 0;
	outline: 0;
	width: 300px;   

}
#sign-in-up-form .input[type="checkbox"]{
    color: #666666;
    /*font-family: Arial,'Liberation Sans',FreeSans,sans-serif;*/
    font-size: 12px;
    /*display: inline-block;*/
    height: 14px;
    /*position: relative; */
    display: none;
    top: 3px; margin: 0;
    
}					  
#sign-in-up-form .button {
	font-family: Arial,'Liberation Sans',FreeSans,sans-serif;
	margin: 0;
	vertical-align: middle;
	position: relative;
	text-align: center;
	width: 100px;
	color: #fff;
	background: #61B010;
	border: 1px solid silver;
	font-size: 110%;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 20px 0 0 199px;
	font-size: 18px;
	cursor: pointer;
}

#sign-in-up-form a { font-size: 12px; width: 200px; padding: 16px; }

