<li class="record unread">
	<div class="conteiner">	
		<div class="avatar read">
			<%= profile_image(user)%>  
		</div>
		<div class="text">
							
			<div class="text-conteiner" style="cursor: pointer;">
				<h3><%= render :partial => 'users/user_link', :collection =>  [user], :as => :user%> </h3>
				<span class="grey">
					
					<% me = current_account.user %>

					<% newTasksForMe       = me.get_new_tasks_assign_to_me  (user) %>
					<% openTasksForMe 	   = me.get_open_tasks_assign_to_me (user) %>
					<% completedTasksForMe = me.get_num_completed_tasks_assign_to_me (user)  %>					
							
					
					<% newTasksForOther       = me.get_new_tasks_i_assigned  (user) %>
					<% openTasksForOther 	  = me.get_open_tasks_i_assign  (user) %>
					<% completedTasksForOther = me.get_num_completed_tasks_i_assign (user)  %>
				
	              	<%= newTasksForOther.size+openTasksForOther.size+newTasksForMe.size+openTasksForMe.size %> tasks in progress,  
				 	<%= completedTasksForOther + completedTasksForMe%> Tasks completed 
				 	
					</span>
			</div> <!-- text-container -->
		</div> <!-- text -->
												
		<div class="clear"></div>
	</div><!-- conteiner -->										
</li>
											
								
										
