<title>Home</title>

<!-- Create new activity form only for logged in users The second condition is to make sure not to display new activity when creating a new tivit -->  
<% if signed_in? && !(controller.controller_name=="activities" && controller.action_name == "new_tivit")%>
		
	<div id="new-activity-background">
		
		<div id="new-activity">
			<%= render 'activities/activity_form',:collection =>  [Activity.new], :as => @activity, :locals => {:activity => @activity} %>
		</div>
	</div>
	
<% end %>


<div id="homepage-tivit-list-container">
	
	
	<%# if @activities_summary.count == 0 &&  @completed_activities.count == 0 %>
		<!-- 
		<div id="dashboardFTE">
		</div>
		-->
	
	<%# else %>
	
	 
    
		
	<div id="tivit-container" class="tab-content">
		
		<!-- New tasks requests -->
		<% unless @new_tivit_requests == nil || @new_tivit_requests.count == 0 %>
			
			<div id="new-tivits" class="newtivits tivits">
				<div id="newtivits" class="tvit-list">
					<div class="tivits">
						<div class="new-tivits-toggle">You have <strong><span class="qty"><%= @new_tivit_requests.size %></span> new requests</strong> for help</div>
						<div class="tvit-list">
							<ul class="list">
								<%= render :partial => 'shared/new_tivit_requests_db', :collection =>  @new_tivit_requests, :as => :new_tivit_request %>	
							</ul>
						</div>
					</div>
				</div>	
			</div>
		<% end %>	 
		<!-- END - New tasks requests -->


		<div class="tabs">
             <!-- <div class="status">You have <%#= @tivits_ondeck.count%> activities / tivits </div> -->

			<ul id="tabs-nav">
				<li class="tab open">
	                <a href="#tivit-desk">My Tasks</a>
	            </li>
	            
	            <li class="tab">
	                <a href="#tasks-i-asked">I Assigned</a>
	            </li>
	            
	    		<li class="tab">
	                <a href="#activities-tab">Activities</a>
	                
	                <%# count = Activity.get_num_of_requests_tivits(current_account.user)%>
	                	
	      			<%#if count > 0%>
	                	<!-- <i><%#=count%></i> -->
	                <%#end%>
          
	            </li>
	    
	            <li class="tab">
	                <a href="#completed-tab">Completed</a>
	            </li>
	                 	           
            	
            </ul>
            
            <!-- draw new activity FTE if user doesn't own any activity -->
            <% if !current_account.user.does_own_activity? %>
				<div id="newactivityFTE">
				</div>
			<% end %>
		
        </div>
    
    	
    
   		<!-- This is the div that holds the On Deck/All Updates/New Requests tab Content -->    
		<div class="tabContent">
			
			<div class="loading-tabs"></div>
			<div class="clear"></div>
			
			<!-- ______________________________________ Tasks ___________________________________________________ -->		
	        <div id="tivit-desk" class="tivit-desk tabInfo"> 

			<%# unless @my_open_tasks == nil %>
			 	
			 	<div id="alltivits" class="main-tivit">
					<div id="mytivits" class="tvit-list">	
						
						<div class="team tivits">
							<div class="tvit-list">
								<ul class="list">
						
									<%#= render :partial => 'shared/activity_db', :collection =>  @activities_summary, :locals => {:tabview => "Summary"} %>
					     			<%= render :partial => 'shared/task_db', :collection =>  @my_open_tasks, :as => :my_task, :locals => {:taskContext => 'tasksTabDashboard'} %>
					     
					     		</ul>
					     	</div>
					     </div>
		     		</div>
		     	</div>
			<%# end %>

			</div>
			
			<div id="tasks-i-asked" class="tasks-i-asked tabInfo"> 

			<%# unless @tasks_for_others == nil %>
			 	
			 	<div id="alltivits" class="main-tivit">
					<div id="mytivits" class="tvit-list">	
						
						<div class="team tivits">
							<div class="tvit-list">
								<ul class="list" id="tasks-i-asked-tab">
						
									<%#= render :partial => 'shared/task_db', :collection =>  @tasks_for_others, :as => :my_task, :locals => {:taskContext => 'IAssigned'} %>
					     
					     		</ul>
					     	</div>
					     </div>
		     		</div>
		     	</div>
			<%# end %>

			</div>
			

   		<div id="activities-tab" class="activities-tab tabInfo"> 

			
			<!-- ______________________________________ Activities ___________________________________________________ -->	
						
			<div id="alltivits" class="main-tivit">
				
				<div id="mytivits" class="tvit-list">	
					<div class="tivit-activities" id="activities-tab-tasks">		
						
						<%# unless @yaniv_activities_ajax == nil %>
														 
			 		 	<!-- ILAN: need here a list of all the activites the user either own OR participating in, ordered by date, closest one first -->
			     		<%#= render :partial => 'shared/activity_db_new', :collection =>  @yaniv_activities_ajax, :as => :activity_db, :locals => {:taskContext => 'activitiesTabDashboard'} %>
		     			
		     			<%# end %>
		    		</div> 
				</div>
			</div>
			
			
			</div>

			<!-- ______________________________________ Completed ___________________________________________________ -->	
				
			<!-- ILAN-done: need here an arraw of completed tasks, that should be sorted most recent completed first - so it'll show at the top -->
			<%# unless @completed_tasks == nil %>
				
				<div id="completed-tab" class="completed-tab tabInfo">
					<div id="alltivits" class="main-tivit">
						<div id="mytivits" class="tvit-list">				
							<div class="team tivits">
								<div class="tvit-list">
									<ul class="list" id="completed-tab-tasks">
											
										<!-- ILAN: need here an arraw of completed tasks, that should be sorted most recent completed first - so it'll show at the top -->
										<%#= render :partial => 'shared/task_db', :collection =>  @completed_tasks, :as => :my_task, :locals => {:taskContext => 'tasksTabCompleted'} %>
											
				
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			<%# end %>		
		
			<div id="test-items" class="test-items tabInfo">
				
			</div>
		
			
		
		</div>  
	</div>
	
	<%# end %>
	
</div>
 
 		
	
