

<% unless @tivits_participate == nil  %>
   <table class="activities" summary="User activities">
     <h1>Total Acitivites / tivits you own (<%= @tivits_participate.count%>)</h1>
     <%= render :partial => 'shared/activity_db', :collection =>  @tivits_participate %>
  </table>
<% end %>

