<!-- Display a tivit within an activity on the  Dashboard -->

<% if tivit.get_owner_status == "Accepted" %>

<li class="record inprog">
	    
<% elsif tivit.get_owner_status == "New" || tivit.get_owner_status == "Reviewed" %>

<li class="record unread">
	                      
<% elsif tivit.get_owner_status == "Done" %>

<li class="record complete">
	                            
<% else %>	                            

<li class="record busy">
	
<%end%>

	<div class="status">
		<div class="icon"></div>
	</div>
	<div class="avatar">
		<%= render :partial => 'profile_images/profile_image', :collection =>  [tivit.get_owner], :as => :user%> 
	</div>
	<div class="text">
		<div class="activity">
		   	<div class="attach">
		   		<i>1</i>
		    </div>
		    <%unread_comments = tivit.get_number_of_unread_comments(current_user)%>
		    <% unless  unread_comments == 0%>
		   		<div class="comments">
		   			<i><%=unread_comments%></i>
		    	</div>
		    <%end%>
		</div>
		
		<%= tivit.name%>
		
	</div>
	<div class="clear"></div>
</li>
		            


