
<!-- Displaying comment -->
<%if   comment.comment != nil && comment.user != nil%>
  	  <span class="content"><b><%= comment.user.name%> </b>  </span>
  	  <%case comment.action%>
  	  	<%when ("OnIt")%>
  	  		<span class="content"> is on it! </span><br>
   	  
  	  	<%when ("Done")%>
  	  		<span class="content"> completed tivit. </span><br>
  	  		
   	  	<%when ("Declined")%>
  	  		<span class="content"> cannot help with tivit. </span><br>
   	  	<%when ("Proposed")%>
  	  		<span class="content"> proposed a new date. </span><br>
   	  	  
	  <%end%>
	  <span class="content"><%= comment.comment%> </span><br>
   	  <span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago.</span><br>
  	  
<% end %>
	

