<h1>About Us</h1>
<p>
   tiviti is a Sillicon Valley based early stage start up. Our mission is to change the way we work with one another. <br>
   We recognize that the curret tools available to end user are no sofficient and in some cases creatign more caoa and overhead. 
   Thank you for using tiviti. We are looking forward for your feedback.
   
</p>
