<h1>About Us</h1>
<p>
  tiviti is a Silicon Valley based early stage start up. Our mission is to change the way we work with one another. 
  We recognize that the current tools available to end user are no sufficient and in some cases creating more clutter and overhead. Thank you for using tiviti. We are looking forward for your feedback.
  

   
</p>
