<h1>About Us</h1>
<p>
  tiviti is a Silicon Valley based early stage start up. Our mission is to change the way we work with one another. 
  We recognize that the current tools available to users are not sufficient and in many cases are creating more clutter and overhead rather than making our day today lives easier. 
  tiviti is in early beta and we are looking for early adopters to try our product ad provide us feedback. Thank you for using tiviti. We are looking forward for your feedback.


   
</p>
