<%@title%>
<table class="profile" summary="Profile information">
<b>User Count</b> 
  <tr> <td>Activated     : </td> <td><%=@user_adopt["activated"]%></td> </tr>
  <tr> <td>Non Activated : </td> <td><%=@user_adopt["non_activated"]%></td> </tr>
  <tr> <td>Totale Users  : </td> <td><%=@user_adopt["total"]%></td> </tr>
  
</table>
