<h1>Help</h1>
<p>
  The tiviti support team is currently surfing....please try again later or just try figure it out yourself as we spent a lot of time to make this product easy to use for people like you....
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>