<p>
<map name="FPMap0">
<area href="/" shape="rect" coords="357, 652, 632, 714">
</map>
<img border="0" src="/images/howitworks.png" usemap="#FPMap0" width="968" height="715">
</p>
<!-- 
<div id="howitworks">
</div>

<div class="form-button"><%= link_to "Get Started Now!", root_path %></div>
-->

<!-- 
<h1>Help</h1>
<p>
  The tiviti support team is currently surfing....please try again later or just try figure it out yourself as we spent a lot of time to make this product easy to use for people like you....
</p>
-->