<!-- Creat new Activity -->   
   
<% if signed_in? %>
	
	
			
      <table class="front" summary="For signed-in users">
        <tr>
        <td class="main">
	
          <!-- Display Current Activities -->  
		  <h1 class="activity">my tivits</h1>
          <%= render 'shared/feed' %>
       
        </td>
        
        <td class="sidebar round">
          <%= render 'shared/user_info' %>
        </td>
    </tr>
  </table>
  
<% else %>

	<h1>Get stuff done faster!</h1>
   	 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
   	 
<% end %>



