<!-- Creat new Activity -->   
   
<% if account_signed_in? %>
	
		  <%= render 'shared/dashboard' %>
		  
<% else %>

	<h1>Get stuff done faster!</h1>
   	 <%= link_to 'Register', new_account_registration_path %> or <%= link_to 'Sign in', new_account_session_path %>

   	 
<% end %>



