<title>Home</title>
   
<% if account_signed_in? %>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
<%puts "llllllllllllllllllllllllllllllllllllllllllllllll"%>
	
		  <%= render 'shared/dashboard' %>
		  
<% else %>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>
<%puts "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR 00000000000000000000000000000000"%>

	<h1>Get stuff done faster!</h1>
   	 <%= link_to 'Register', new_account_registration_path %> or <%= link_to 'Sign in', new_account_session_path %>

   	 
<% end %>



