<!-- Creat new Activity -->   
   
<% if signed_in? %>
	
	
	
		 <h1>On Deck!</h1>
		  <%= render 'shared/feed' %>

	
	
	
	
   
<% else %>

	<h1>Get stuff done faster!</h1>
   	 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
   	 
<% end %>



