//alert ('On it in Ajax');
console.log('on_it.js.erb:: called.');  

//console.log('activity name=', "<%= @activity.name %>");  
//console.log('@lastcomment=', "<%= @lastcomment %>");  

jQuery('#page-container').append('<div class="flash" id="confirmMsg">You agreed to help <%= @activity.get_owner.name.gsub("\'", "\\\\'") %> </div>');


