

<!-- Footer -->
<div id="footer">
    <footer>
        <nav class="round">
            <ul>
                <li><%= link_to "Home", "http://tiviti.wix.com/tiviti" %></li>
     			<li><%= link_to "About", about_path %></li>
      			<li><%= link_to "Contact", "http://tiviti.wix.com/tiviti#!contact/cgbd" %></li>      
            </ul>
        </nav>
        <div class="copyR">
        	&copy;2010 - 2012 tiviti. inc
        </div>
    </footer>
</div>
